body {
	font-family: 'Concert One', cursive;
	background-color: #5784c3;
}

h1{
	text-align: center;
}

.crystal-image {
	width: 300px;
    height: 300px;
}

#objective{
	font-size: 110%;
	padding: 0px 30px 0px 30px;
}

#gamePlay{
	padding: 0px 30px 0px 30px;
}