body {
	font-family: 'Concert One', cursive;
	background-color: #5784c3;
}

h1{
	text-align: center;
}

.crystal-image {
	width: 200px;
    height: 200px;
}

#objective{
	font-size: 110%;
}

p{
	padding: 0px 75px 0px 75px;
}


